<!DOCTYPE html>
<html lang="en" ng-app="sampleApp">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- angular -->
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.min.js"></script>
		<!--  ng route -->
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js"></script>
		<!-- custom script (angular app) -->
		<script type="text/javascript" src="scripts/app.js"></script>

		<title>MEAN app</title>
	</head>
	<body>
	<div ng-view></div>
		
	</body>
</html>